<h1> Add a Person </h1>

<%= form_for @person, url: {action: "create"}, html: {class: "person-form"} do |f| %>

<%= f.label :name, "Name: " %>
<%= f.text_field(:name) %>

<%= f.submit "Add Person" %>

<% end %>
